{{#each entries as |entry|}}

    <section id="entry-{{entry.id}}" data-id="{{entry.id}}" class="entry-item bg-dark entry m-5 p-3 text-light">
    <h4>
      <small>Date:</small> {{entry.date}}
    </h4>
    <div class="entry-title small d-flex">
      <h4 class="mr-2">Title: </h4>
      <h4>{{entry.title}}</h4>


      </div>

    <p class="entry-description">
      <small >Description:</small>
      {{#if entry.description}}
        {{entry.description}}
      {{else}}
        No description provided!
      {{/if}}
    </p>

      <form class="update-form">
      <input type="number" name="entry[id]" class="d-none" value="{{entry.id}}">
      <input class="form-control my-2" name="entry[title]" type="text" placeholder="Enter New Title">
      <textarea class="form-control my-2" name="entry[description]" type="text" placeholder="Update Description"></textarea>
      <input type="submit"class="btn btn-primary update entry-button my-2" value="Update">
    </form>

    <button class="btn btn-danger delete entry-button my-2">Delete</button>


  </section>

{{/each}}
