{{#each entries as |entry|}}
  {{log entry}}

  <section id="entry-{{entry.id}}" data-id="{{entry.id}}" class="entry">
    <h6>
      <small>Date:</small> {{entry.date}}
    </h6>
    <h6>
      <small>Title:</small> {{entry.title}}
    </h6>

    <p>
      <small>Description:</small>
      {{#if entry.description}}
        {{entry.description}}
      {{else}}
        No description provided!
      {{/if}}
    </p>

    <form class="update-form d-flex flex-column justify-content-center">
      <input type="number" name="entry[id]" class="d-none" value="{{entry.id}}">
      <input class="form-control overflow-hidden align-self-center d-flex w-100 my-2" name="entry[title]" type="text" placeholder="Enter New Title">
      <textarea class="form-control overflow-hidden align-self-center d-flex w-100 my-2" name="entry[description]" type="text" placeholder="Update Description"></textarea>
      <input type="submit"class="btn btn-primary update" value="Update">
    </form>

    <button class="btn btn-danger delete align-self-center w-100 my-2">Delete</button>

  </section>

{{/each}}
